<template name="blog">
    <section class="container">
        <div class="col-md-12">
			{{#if currentUser}}
				<button class='btn btn-info addBlog'>Ajouter un blog</button>
				{{#if isCreating}}
		            {{> blogCreate }}
				{{/if}}
				{{#if isEdit}}
					{{> blogEdit }}
				{{/if}}
            {{/if}}

            {{#each posts}}
                <article>
                    <h3>{{title}}</h3>
                    <p>{{texte}}</p>
                    {{#if canEdit owner "admin"}}
                        <button class="btn btn-danger delete">Delete</button>
                        <button class="btn btn-success blogEdit">Edit</button>
                    {{/if}}
                </article>
            {{/each}}
        </div>
    </section>
</template>
