<template name="login">
	{{#if currentUser }}
	<br>
	<a href="#" class="btn btn-danger disconnect">Disconnect</a>
	<a href="http://localhost:3000/" class="btn btn-info">Go back to Home</a>
	{{else}}
		<div class="wrapper fadeInDown">
		  <div id="formContent">
		    <!-- Tabs Titles -->

		    <!-- Icon -->
		    <div class="fadeIn first">
		      <img src="https://upload.wikimedia.org/wikipedia/en/c/ce/Google_account_icon.svg" id="icon" alt="User Icon" />
		    </div>

		    <!-- Login Form -->
		    <form class="login-form" action="http://localhost:3000/">
		      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
		      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
		      <input type="submit" class="fadeIn fourth" value="Log In">
		    </form>

		    <!-- New account -->
		    <div id="formFooter">
		      <button class="underlineHover btn create">Create account</button>
		    </div>

		  </div>
		</div>
	{{/if}}
</template>
