<template name="login">
	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <!-- Tabs Titles -->

	    <!-- Icon -->
	    <div class="fadeIn first">
	      <img src="https://upload.wikimedia.org/wikipedia/en/c/ce/Google_account_icon.svg" id="icon" alt="User Icon" />
	    </div>

	    <!-- Login Form -->
	    <form class="login-form">
	      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
	      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
	      <input type="submit" class="fadeIn fourth" value="Log In">
	    </form>

	    <!-- Remind Password -->
	    <div id="formFooter">
	      <button class="underlineHover btn create">Create account</button>
	    </div>

	  </div>
	</div>
</template>
