<template name="user">
	<h3>{{user.username}} profile</h3>
	<span>{{user.roles.default}}</span>
	<form class="add-roles">
		<select name="roles" multiple class="custom-select" id="roles">
			{{#if isInRole "user"}}
				<option value="user" selected>user</option>
			{{else}}
				<option value="user">user</option>
			{{/if}}
			{{#if isInRole "admin"}}
				<option value="admin" selected>admin</option>
			{{else}}
				<option value="admin" >admin</option>
			{{/if}}
		</select>
		<button name="delete" class="btn btn-danger delete">delete</button>
		<input type="submit"  value="add role" class="btn btn-info" />
	</form>
</template>
