
<template name='home'>
    <main class="container">
        <div class="row">
          <header>
              <h3 class="text-center" >My simple chat in MeteorJS</h3>
              <h5 class="text-center text-muted">Sign in to join!</h5>
          </header>      
          <div class="col-md-12">
            {{> loginButtons}}
            <div class="panel panel-info">
              <div class="panel-heading">
                GROUP CHAT
              </div>
              <div>
                {{#each channels}}
                  <button class="channel btn {{active}}">
                    # {{name}}
                  </button>
                {{/each}}
                </div>
              <div class="panel-body">
                <ul class="media-list">
                  <!-- message template -->
                  {{#each messages}}
                    {{> message}}
                  {{/each}}
                </ul>
              </div>
              {{#each userState}}
              <span class="label label-success">{{username}}</span>
              {{/each}}
              {{#if currentUser}}
              
              <!-- message textbox -->
              <form class="new-message">
                <div class="panel-footer">
                  <div class="input-group">
                    <input type="text" name="text" class="form-control" placeholder="Enter Message" />
                    <span class="input-group-btn">
                      <button class="btn btn-info send" type="submit">SEND</button>
                    </span>
                  </div>
                </div>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </main>
</template>
     
