<template name="message">
  <li class="media">
    <div class="media-body">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-circle img-responsive" src="http://lorempixel.com/60/60/people/" />
        </a>
        <div class="media-body" >
          {{text}}
          <br />
          <!-- user information -->
          <small class="text-muted"><strong>{{username}}</strong> | {{createdAt}}</small>
          <br />
          {{#if canEdit owner "admin"}}
          <button class="btn btn-danger delete" type="submit">Delete</button>
          {{/if}}
          <hr />

        </div>
      </div>
    </div>
  </li>
</template>
